* {
  box-sizing: border-box;
}
/* PARTIE HEADER */
header {
  display: flex;
  align-items: center;
  gap: 20px;
  padding: 30px 0 30px 50px;
  font-size: 30px;
  border-bottom: solid 1px lightgray;
}

header img {
  height: 80px;
}

.container {
  max-width: 800px;
  margin: 200px auto;
  /* background: lightcoral; */
  padding: 0px 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* PARTIE FOOTER */

footer {
  margin-top: 50px;
}
footer p {
  text-align: center;
  font-size: 15px;
  font-family: "Roboto", sans-serif;
}
footer span {
  font-weight: bold;
}

.minus,
.plus,
.reset {
  background: lightgreen;
}
.button-container {
  display: flex;
  justify-content: flex-start;
  gap: 50px;
  margin: 25px 0;
}
.button {
  border: none;
  outline: none;
  padding: 15px 20px;
  border: 1px solid gray;
  border-radius: 10px;
}

.button-no-clicked {
  background: white;
  color: #5c48d3;
}

.button-clicked {
  background: #5c48d3;
  color: white;
}

.result {
  padding: 30px 10px;
  text-align: center;
  border-radius: 10px;
  color: white;
  font-size: 25px;
  width: 150px;
}
.red-result {
  background: red;
}
.green-result {
  background: green;
}

@media (max-width: 550px) {
  .container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 600px;
    margin: 0 auto;
    /* background: blue;
  } */
  }
  header img {
    height: 50px;
  }
  header {
    font-size: 25px;
  }
}
